* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rethink Sans", sans-serif;
  background-color: #f2f2f2;
}
header {
  background: #2d7dfd;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  box-shadow: 2px 2px #1870fd;
}
header h2 {
  font-size: 30px;
  margin-right: 10px;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.profile h2 {
  font-size: 22px;
}
.jobs {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
}
.pannel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
input {
  max-width: 500px;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px #e6e6e6;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms;
}
button:hover {
  transform: scale(1.1);
}
#addjob,
#all-btn {
  background: #2d7dfd;
  color: #fff;
}
.status-btns {
  display: flex;
  justify-content: space-evenly;
}
.applied-btn {
  background-color: #7cabf77d;
  color: blue;
}
.rejected-btn {
  background-color: rgba(255, 138, 138, 0.493);
  color: red;
}
.interview-btn {
  background-color: rgba(136, 243, 136, 0.496);
  color: green;
}
.card {
  margin: 30px 0px;
  background-color: rgb(255, 255, 255);
  display: grid;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px #cacacab4;
  grid-template-areas:
    "logo job-details job-details job-details job-details  status-btn"
    "update-bar update-bar update-bar update-bar update-bar update-bar";
  row-gap: 30px;
}
.logo {
  grid-area: logo;
  grid-template: 1fr;
}
.job-details {
  grid-area: job-details;
}
.job-details h2 {
  font-size: 32px;
  line-height: 50px;
}
.job-details h3 {
  font-size: 22px;
  line-height: 30px;
  color: #3c3c3c;
}
.job-details h5 {
  font-size: 16px;
  color: #3c3c3c;
  color: #1870fd;
}
.status-btn {
  grid-area: status-btn;
  text-align: right;
}
.update-bar {
  grid-area: update-bar;
  display: flex;
  justify-content: space-between;
}
.update-bar select {
  border: none;
  font-size: 18px;
  font-weight: 600;
}
.listing-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  background: #d7d7d7;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 40px;
  gap: 10px;
  border-radius: 20px;
  transform: 200ms;
}

.listing-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
#form-submit {
  background-color: #1870fd;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
#close {
  text-align: right;
  cursor: pointer;
}

#close span {
  background-color: #1870fd;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20%;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  header h2,
  .profile h2 {
    font-size: 19px;
  }
  .pannel {
    margin: 10px;
  }
  input {
    max-width: 280px;
  }
  .status-btns {
    margin-top: 20px;
  }
  .jobs {
    padding: 10px;
  }
}
