.top-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.top-sec h2 {
  font-size: 50px;
  text-align: center;
  line-height: 55px;
}
p {
  font-size: 18px;
  text-align: center;
  margin: 20px 0px;
}
.top-sec a {
  padding: 10px 40px;
  background-color: rgb(43, 194, 43);
  border: none;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
